<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C2 Info</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-md-block bg-dark sidebar sidebar-dark accordion">
                <div class="sidebar-brand d-flex align-items-center justify-content-center">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-user-secret"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3"><strong>Amazing Rootkit<sup> C2</sup></strong></div>
                </div>
                <hr class="sidebar-divider my-0">
                <!-- Sidebar Menu -->
                <ul class="navbar-nav" id="accordionSidebar">
                    <li class="nav-item active">
                        <a class="nav-link" href="dashboard">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading"><strong>Interface</strong></div>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="campaigns">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Campaigns</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="management">
                            <i class="fas fa-fw fa-wrench"></i>
                            <span>Management</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading"><strong>Addons</strong></div>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="info">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>Info</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="lastActivity">
                            <i class="fas fa-fw fa-clock"></i>
                            <span>Last Activity</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider d-none d-md-block">
                    <!-- Logout Button -->
                    <li class="nav-item mt-auto">
                        <a class="nav-link" href="login">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-light"><strong>Info</strong></h1>
                </div>

                <!-- README Content -->
                <div class="card">
                    <div class="card-header">
                        <strong>Setup Instructions</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title version-title">Version 1.0.0</h5>
                        <a href="https://github.com/Danielhay016/AmazingRootkit.git" class="source-code-link" target="_blank">Source Code</a>
                        <p class="card-text">This project is an academic demonstration for Ubuntu 22.04 LTS.</p>
<!--
                        <div class="step">
                            <h6 class="card-subtitle mb-2"><strong>Building the Project</strong></h6>
                            <ol>
                                <li>Navigate to the project directory:</li>
                                <div class="scrollable-pre">
                                    <pre>cd amazing_rootkit</pre>
                                </div>
                                <li>Compile the project:</li>
                                <div class="scrollable-pre">
                                    <pre>make</pre>
                                </div>
                                <li>Then we should have the <strong>`amazing_kernel_module.ko`</strong> file.</li>
                            </ol>
                            <p class="note">PS: Before building the project, for the current version of the code you might need to replace the hardcoded function pointers we hook.</p>
                            <p>For example:</p>
                            <div class="scrollable-pre">
                                <pre>sudo cat /proc/kallsyms | grep -e tcp4_seq_show -e tcp6_seq_show -e udp4_seq_show -e udp6_seq_show -e inet_ioctl -e sys_getdents64</pre>
                            </div>
                        </div>

                        <div class="step">
                            <h6 class="card-subtitle mb-2"><strong>Running</strong></h6>
                            <ol>
                                <li>Load the kernel module:</li>
                                <div class="scrollable-pre">
                                    <pre>sudo insmod amazing_kernel_module.ko</pre>
                                </div>
                                <li>Can be used to validate that the module is loaded:</li>
                                <div class="scrollable-pre">
                                    <pre>sudo dmesg -w | grep AmazingRootkit</pre>
                                </div>
                            </ol>
                        </div>

                        <div class="step">
                            <h6 class="card-subtitle mb-2"><strong>Userspace Dummy</strong></h6>
                            <p>For the POC purposes, we created this dummy program that will "act" as our userspace agent.</p>
                            <h6 class="card-subtitle mb-2"><strong>Building</strong></h6>
                            <ol>
                                <li>Compile the userspace dummy program:</li>
                                <div class="scrollable-pre">
                                    <pre>gcc userspace_dummy.c -o dummy</pre>
                                </div>
                                <li>Then we should have the `dummy` file.</li>
                            </ol>
                            <h6 class="card-subtitle mb-2"><strong>Running</strong></h6>
                            <ol>
                                <li>Run the dummy program with the required parameters:</li>
                                <div class="scrollable-pre">
                                    <pre>./dummy &lt;target_pid_to_set_root&gt; &lt;target_port&gt; &lt;target_filename&gt; &lt;target_pid_to_hide&gt;</pre>
                                </div>
                            </ol>
                        </div>
-->
                        <p class="card-text"><em>#FinalProject #Ubuntu22.04LTS #Linux #Rootkit #Cybersecurity</em></p>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        <strong>Project Overview</strong>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Amazing Rootkit</h5>
                        <p class="card-text">Amazing Rootkit is an academic project developed as part of our Computer Science degree at The College of Management Academic Studies. </p>
                        <p class="card-text">This rootkit communicates securely and covertly, allowing attackers to bypass security measures and remain undetected. It can stealthily capture keystrokes, steal files, and take screenshots, evading detection. It includes user-mode integrations and capabilities to exfiltrate browser cookies and sensitive data.</p>
                        <h6 class="card-subtitle mb-2"><strong>Functional Description:</strong></h6>
                        <ol>
                            <li><strong>Kernel Module:</strong> Handles system hiding functionalities, requiring a deep understanding of Linux internals to manipulate mechanisms. It is responsible for hiding itself, processes, network sockets, files, and communication with the C2 server.</li>
                            <li><strong>User-Mode Code:</strong> Executes various operations to gather intelligence, including keylogging, screenshot capturing, and file theft.</li>
                            <li><strong>Command and Control (C2) Server:</strong> Communicates with the rootkit, sending commands and receiving data through a secure communication protocol.</li>
                        </ol>
                        <p class="card-text">This combination of components creates a powerful and covert tool for gathering sensitive data and enabling malicious activities according to the attacker's instructions.</p>
                        <h6>Supervised by Dr. Hemi Leibowitz.</h6>
                        <h6>Developed by Daniel Hay • Ben Cohen • Liad Avramov • Gal Niv</h6>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        <strong>Architecture Overview</strong>
                    </div>
                    <div class="card-body">
                        <!-- [Previous content here] -->
                        <div class="text-center">
                            <img src="{{ url_for('static', filename='images/what-is-a-rootkit.png') }}" alt="Rootkit Architecture" class="img-fluid" style="max-width: 50%; height: auto;">
                            <img src="{{ url_for('static', filename='images/AR-Architecture.png') }}" alt="Rootkit Architecture" class="img-fluid" style="max-width: 80%; height: auto;">
                        </div>
                        <p class="card-text">The above diagram illustrates the architecture of the Amazing Rootkit, detailing the interactions between the kernel module, user-mode code, and the command and control server.</p>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
